<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{{ 'css/sauce.css' | url }}">
  <title>The Sauce</title>
</head>
<body>

  <header>
    <h1>The Sauce</h1>
  </header>

  <section>
    <p>The Sauce is Provi’s bi-weekly(ish) tech talk series, where Provi engineers can share their knowledge, learn from each other and chat about the latest industry trends.</p>
  </section>

  {{ content | safe }}
</body>
</html>